apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-app
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: devops
  source:
    repoURL: https://github.com/rick3032/kc-uplift.git
    path: charts/devops-app/
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd
  syncPolicy:
    automated:
      selfHeal: true